.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  padding: 20px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 3px 7px 6px 0px rgba(0, 0, 0, 0.63);
}
.item > .avatar,
.item > .name {
  margin-left: 20px;
}
.status {
  color: red;
}
.isOnline {
  color: green;
}
.avatar {
  width: 96px;
  border-radius: 8px;
}
.name {
  font-size: var(--main-font-size);
  font-weight: 500;
}
