.statistics {
  text-align: center;
  margin: 0 auto 90px;
  width: 50%;
  box-shadow: 9px 10px 10px -6px rgba(0, 0, 0, 0.62);
}
.title {
  font-size: var(--main-font-size);
  padding: 36px 0;
  background-color: #fff;
  text-transform: uppercase;
}
.statList {
  display: flex;
}
.item {
  flex: 1 1;
  list-style: none;
  padding: 20px;
  color: #fff;
}
.label {
  font-size: var(--second-font-size);
}
.percentage {
  font-size: var(--main-font-size);
}
