.tansactionHistory {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  font-size: var(--main-font-size);
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  box-shadow: 9px 10px 10px -6px rgba(0, 0, 0, 0.62);
}

.tansactionHistory tbody {
  background: rgb(236, 245, 247);
}

.tansactionHistory td {
  padding: 10px 20px;
  color: var(--profile-text-color);
}

.tansactionHistory td:first-child {
  text-transform: capitalize;
}

.tansactionHistory tr:nth-child(2n) {
  background-color: #fff;
}

.tansactionHistory th {
  font-weight: 700;
  text-transform: uppercase;
  background: #25c3f3;
  color: var(--text-color-contrast);
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 20px;
}

.tansactionHistory th,
.tansactionHistory td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: rgb(163, 160, 160);
}
